USE [TrabajadoresPrueba]
GO
/****** Object:  StoredProcedure [dbo].[listarTrabajadores]    Script Date: 27/08/2025 18:19:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[listarTrabajadores] (
	@id int
)
AS
BEGIN
	if ( @id is NULL)
	SELECT 
	t.Id,
	t.TipoDocumento,
	t.NumeroDocumento,
	t.Nombres,
	t.Sexo,
	t.IdDepartamento,
	t.IdProvincia,
	t.IdDistrito,
	de.NombreDepartamento,
	p.NombreProvincia,
	di.NombreDistrito
	FROM Trabajadores t
	LEFT JOIN Departamento de on t.IdDepartamento = de.Id
	LEFT JOIN Provincia p on t.IdProvincia = p.Id
	LEFT JOIN Distrito di on t.IdDistrito = di.Id
	else
	SELECT 
	t.Id,
	t.TipoDocumento,
	t.NumeroDocumento,
	t.Nombres,
	t.Sexo,
	t.IdDepartamento,
	t.IdProvincia,
	t.IdDistrito,
	de.NombreDepartamento,
	p.NombreProvincia,
	di.NombreDistrito
	FROM Trabajadores t
	LEFT JOIN Departamento de on t.IdDepartamento = de.Id
	LEFT JOIN Provincia p on t.IdProvincia = p.Id
	LEFT JOIN Distrito di on t.IdDistrito = di.Id
	where t.Id = @id
END
