USE [TrabajadoresPrueba]
GO
/****** Object:  StoredProcedure [dbo].[RegistroTrabajadores]    Script Date: 27/08/2025 18:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[RegistroTrabajadores] (
	@id int,
	@tipoDoc varchar(3),
	@numeroDoc varchar(50),
	@nombres varchar(500),
	@sexo varchar(1),
	@nombreDepartamento int,
	@nombreProvincia int,
	@nombreDistrito int
)
AS
BEGIN
	DECLARE @idDepartamento int;
	DECLARE @idProvincia int;
	DECLARE @idDistrito int;

	SELECT @idDepartamento = Id
	FROM Departamento WHERE NombreDepartamento = @nombreDepartamento

	SELECT @idProvincia = Id
	FROM Provincia WHERE NombreProvincia = @nombreProvincia

	SELECT @idDistrito = Id
	FROM Distrito WHERE @nombreDistrito = @nombreDistrito

	INSERT INTO Trabajadores (Id, TipoDocumento, NumeroDocumento, Nombres, Sexo, IdDepartamento, IdProvincia, IdDistrito)
		VALUES (@id, @tipoDoc, @numeroDoc, @nombres, @sexo, @idDepartamento, @idProvincia, @idDistrito) 
END
